.container {
    display: flex;
    flex-direction: row;
    height: auto;
    max-width: 1280px;
    margin: 0 auto;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: auto;
    border-right: 1px solid #ddd;
}

.notesWrapper {
    width: 100%;
}